
/* App layout */
.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Main area */
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  /* Content */
  .content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }

  .sidebar {
    width: 280px;
    background-color: #f0f0f0;
    color: #000;
    transition: all 0.3s ease;
  }
  
  /* Closed state */
  .sidebar.closed {
    width: 55px;
    overflow: hidden;
  }


  @media (max-width: 768px) {
    .sidebar {
      position: absolute;
      height: 100%;
      z-index: 1000;
      left: 0;
      top: 0;
    }
  
    .sidebar.closed {
      transform: translateX(-100%);
      width: 260px; /* keep width but hide using transform */
    }
  
    .sidebar.open {
      transform: translateX(0);
    }
  }


  .sidebar-header {
    border-bottom: 1px solid #e5e5e5;
  }

  .new-chat-btn {
    border: 1px solid #ddd;
    background-color: #fafafa;
  }
  
  .new-chat-btn:hover {
    /* background-color: #ececec; */
    background-color: #fff;
  }

  .chat-item.active {
    background-color: #eaeaea;
    font-weight: 500;
  }

  .chat-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  /* messageInput */


  .custom-float {
    border-radius: 50px;
    background: white;
    transition: all 0.3s ease;
    border: 1px solid black;
  }

  
  /* Remove default borders */
  .custom-float .form-control,
  .custom-float .input-group-text {
    border: none;
    background: transparent;
  }
  
  /* Rounded styling */
  .left-icon {
    border-radius: 50px 0 0 50px;
    font-size: 22px;
  }
  
  .right-icon {
    border-radius: 0 50px 50px 0;
    font-size: 22px;
  }
  
  /* Input clean look */
  .custom-float .form-control:focus {
    box-shadow: none;
  }

  .float{
    border-radius: 50px;
    transition: all 0.9s ease;

  }

  .float:hover{
    transform: translateY(-2px);

  }